/* Customize your main colors in :root variables */
:root {
  --main-background-color: #0d0d0e;
  --card-background-color: #1f2020;
  --card-background-lighter-color: #7a7f92;
  --main-text-color: #f7f6f4;
  --title-text-color: #ea5ef3;
}

body {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0!important;
    font-family: "Arcade"!important;
  background-image: url(/src/images/space.8e01993e1.png)
}

h2,
p {
  color: var(--main-text-color);
}

h3 {
 font-weight: 900;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin-top: 21px;
}

.MuiFab-extended {
  height: auto;
  padding-right: 0 !important;
}

.MuiFab-label {
  font-weight: bold;
}

.MuiPaper-root {
  backdrop-filter: blur(4px)!important;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 33%), 0px 1px 8px 0px rgb(0 0 0 / 83%) !important;
  
}

.MuiButton-containedPrimary:not(.MuiButton-fullWidth) {
  border-radius: 24px !important;
  padding: 6px 16px;
      /* border-radius: 24px!important; */
    /* padding: 6px 16px; */
    color: #fff;
    background-color: #3f51b5;
    background: linear-gradient( 
0deg
 ,#ab2df9,#fd51f8);
    /* padding: 1rem 2rem; */
    border-radius: 0.5rem;
    border: none!important;
    font-style: bold!important;
    /* font-size: 1.5rem!important; */
    /* font-family: "Arcade"!important; */
    transition: all .3s linear!important;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: 1rem!important;
    box-shadow: 0 .15em 0 0 #000!important;
    text-align: center;
    color: #fff;
    top:15%
}

.MuiButton-label {
  font-size: 1.2em;
}

.MuiLinearProgress-colorPrimary {
  background-color: var(--main-text-color) !important;
}

.MuiLinearProgress-barColorPrimary {
  background: rgb(224,162,254);
background: linear-gradient(90deg, rgba(224,162,254,1) 0%, rgba(186,52,249,1) 35%, rgba(93,0,142,1) 100%);
}

.MuiButton-contained {
    border-radius: 24px!important;
    background: linear-gradient(
0deg
,#ab2df9,#fd51f8);
    border: none!important;
    transition: all .3s linear!important;
    text-transform: uppercase;
    box-shadow: 0 .15em 0 0 #000!important;
    text-align: center;
    color: #fff !important;
}

.MuiPaper-root {
  background-color: transparent !important;
}

.MuiChip-root {
    color: #fff;
    border: none;
    cursor: default;
    height: 32px;
    display: inline-flex;
    outline: 0;
    padding: 0;
    font-size: 0.8125rem;
    box-sizing: border-box;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    white-space: nowrap;
    border-radius: 16px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    /* background-color: #bb34f8; */
    top: 524px;
    left: 42%;
    width: 120px;
    /* padding-top: 16px; */
    background: linear-gradient( 
90deg
 ,#e0a2fe,#ba34f9 35%,#5d008e);
}

.hiuPZw {
    color: black;
    width: auto;
    height: 40px;
    padding: 0px 0px 0px 16px;
    min-width: 48px;
    min-height: auto;
    border-radius: 24px;
    background-color: var(--main-text-color);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    line-height: 1.75;
    text-transform: uppercase;
    border: 0px;
    margin: 0% 0px 0px;
    display: inline-flex;
    outline: 0px;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

  .MuiPaper-elevation1 {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background: linear-gradient(
16deg
,#e0a2fe,#ba34f9 35%,#5d008e);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
